p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  display: inline-flex;
  margin: 0;

  text-decoration: none;

  cursor: pointer;
}

button {
  display: block;
  margin: 0;
  padding: 0;

  font-family: var(--main-font-family);
  font-style: var(--main-font-style);

  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.contacts {
  width: 100%;
  background: #84a178;
  border-radius: 10px;
  border-color: black;
  border: 1px solid;
  padding-bottom: 120px;
  margin: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #131313;
}

.contacts__list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.contacts__item {
  max-width: 288px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__title {
  display: inline-block;
  height: auto;
  width: auto;
  padding: 4px 14px;
  margin-bottom: 32px;
  background: #f8d24e;
  border-radius: 6px;
  line-height: calc(22 / 16);
}

.contacts__city {
  padding-bottom: 8px;
  line-height: calc(30 / 16);
}

.contacts__address {
  line-height: calc(29 / 16);
  letter-spacing: 0.04em;
  color: #d6936d;
}

.contacts__sked {
  gap: 12px;
  line-height: calc(30 / 16);
}

.contacts__sked--day {
}

.contacts__sked--time {
  color: #ababab;
}

.contacts__line {
  margin: 32px auto;
  /* width: 1px solid; */
  color: #e1e1e1;
}

.contacts__relations {
  gap: 2px;
}

.contacts__relations--item {
}

.contacts__relations--link {
  color: #131313;
}

.contacts__btn--list {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 16px;
}

.contacts__btn--item {
}

.contacts__btn {
  width: 196px;
  height: 42px;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  box-shadow: none;
  border-width: 0;
  color: #131313;
}

.btn--locations {
  background: #f8d24e;
}
.btn--locations:hover {
  background: #0a8817;
}
.btn--locations:focus {
  background: #0a8817;
  color: #ffffff;
}
.btn--locations:disabled {
  background: #ababab;
}

.btn--franchise {
}
